In [1]:
# Try to code the baseline model

# Let's go!!

In [2]:
import pandas as pd

In [3]:
BL1 = pd.read_csv("data.csv")
BL1

,Unnamed: 0,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,2072,-119.84,36.77,6.0,1853.0,473.0,1397.0,417.0,1.4817,72000.0,INLAND
1,10600,-117.80,33.68,8.0,2032.0,349.0,862.0,340.0,6.9133,274100.0,<1H OCEAN
2,2494,-120.19,36.60,25.0,875.0,214.0,931.0,214.0,1.5536,58300.0,INLAND
3,4284,-118.32,34.10,31.0,622.0,229.0,597.0,227.0,1.5284,200000.0,<1H OCEAN
4,16541,-121.23,37.79,21.0,1922.0,373.0,1130.0,372.0,4.0815,117900.0,INLAND
...,...,...,...,...,...,...,...,...,...,...,...
16507,1099,-121.90,39.59,20.0,1465.0,278.0,745.0,250.0,3.0625,93800.0,INLAND
16508,18898,-122.25,38.11,49.0,2365.0,504.0,1131.0,458.0,2.6133,103100.0,NEAR BAY
16509,11798,-121.22,38.92,19.0,2531.0,461.0,1206.0,429.0,4.4958,192600.0,INLAND
16510,6637,-118.14,34.16,39.0,2776.0,840.0,2546.0,773.0,2.5750,153500.0,<1H OCEAN
16511,2575,-124.13,40.80,31.0,2152.0,462.0,1259.0,420.0,2.2478,81100.0,NEAR OCEAN

In [4]:
BL1.drop(columns=['Unnamed: 0'], inplace = True)

In [5]:
bl_clean = BL1.dropna(axis=0)
bl_clean

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-119.84,36.77,6.0,1853.0,473.0,1397.0,417.0,1.4817,72000.0,INLAND
1,-117.80,33.68,8.0,2032.0,349.0,862.0,340.0,6.9133,274100.0,<1H OCEAN
2,-120.19,36.60,25.0,875.0,214.0,931.0,214.0,1.5536,58300.0,INLAND
3,-118.32,34.10,31.0,622.0,229.0,597.0,227.0,1.5284,200000.0,<1H OCEAN
4,-121.23,37.79,21.0,1922.0,373.0,1130.0,372.0,4.0815,117900.0,INLAND
...,...,...,...,...,...,...,...,...,...,...
16507,-121.90,39.59,20.0,1465.0,278.0,745.0,250.0,3.0625,93800.0,INLAND
16508,-122.25,38.11,49.0,2365.0,504.0,1131.0,458.0,2.6133,103100.0,NEAR BAY
16509,-121.22,38.92,19.0,2531.0,461.0,1206.0,429.0,4.4958,192600.0,INLAND
16510,-118.14,34.16,39.0,2776.0,840.0,2546.0,773.0,2.5750,153500.0,<1H OCEAN
16511,-124.13,40.80,31.0,2152.0,462.0,1259.0,420.0,2.2478,81100.0,NEAR OCEAN

In [6]:
y = bl_clean.median_house_value

filtered_features = ['longitude', 'latitude', 'housing_median_age', 'total_rooms','median_income']

X = bl_clean[filtered_features]

from sklearn.tree import DecisionTreeRegressor
model_1 = DecisionTreeRegressor()
model_1.fit(X,y)

DecisionTreeRegressor()

In [7]:
from sklearn.metrics import mean_absolute_error

predict_1 = model_1.predict(X)
mean_absolute_error(y, predict_1)

0.0

In [8]:
# Absolute garbage

# Let's do it normally now!!

In [9]:
from sklearn.model_selection import train_test_split

train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 0)
# Define model and chose test size (like test_size = .3)
model_2 = DecisionTreeRegressor()
# Fit model
model_2.fit(train_X, train_y)

# get predicted prices on validation data
val_predictions = model_2.predict(val_X)
print(mean_absolute_error(val_y, val_predictions))

45044.97135161606

In [10]:
'''So 0 in the first BL for error and 44837 with train_test
From the start now we retake them'''

'So 0 in the first BL for error and 44837 with train_test\nFrom the start now we retake them'

In [14]:
model_2.score(val_X, val_y)

0.6353926449128526